@font-face {
  font-family: 'open-bold';
  src: url("../fonts/opensans/OpenSans-Bold.woff2") format("woff2"), url("../fonts/opensans/OpenSans-Bold.woff") format("woff"), url("../fonts/opensans/OpenSans-Bold.ttf") format("truetype"), url("../fonts/opensans/OpenSans-Bold.svg#../fonts/opensans/OpenSans-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'open-exbold';
  src: url("../fonts/opensans/OpenSans-ExtraBold.woff2") format("woff2"), url("../fonts/opensans/OpenSans-ExtraBold.woff") format("woff"), url("../fonts/opensans/OpenSans-ExtraBold.ttf") format("truetype"), url("../fonts/opensans/OpenSans-ExtraBold.svg#../fonts/opensans/OpenSans-ExtraBold") format("svg");
  font-weight: 800;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'open-light';
  src: url("../fonts/opensans/OpenSans-Light.woff2") format("woff2"), url("../fonts/opensans/OpenSans-Light.woff") format("woff"), url("../fonts/opensans/OpenSans-Light.ttf") format("truetype"), url("../fonts/opensans/OpenSans-Light.svg#../fonts/opensans/OpenSans-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'open-regular';
  src: url("../fonts/opensans/OpenSans-Regular.woff2") format("woff2"), url("../fonts/opensans/OpenSans-Regular.woff") format("woff"), url("../fonts/opensans/OpenSans-Regular.ttf") format("truetype"), url("../fonts/opensans/OpenSans-Regular.svg#../fonts/opensans/OpenSans-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'open-semibold';
  src: url("../fonts/opensans/OpenSans-SemiBold.woff2") format("woff2"), url("../fonts/opensans/OpenSans-SemiBold.woff") format("woff"), url("../fonts/opensans/OpenSans-SemiBold.ttf") format("truetype"), url("../fonts/opensans/OpenSans-SemiBold.svg#../fonts/opensans/OpenSans-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'os-medium';
  src: url("../fonts/oswald/Oswald-Medium.woff2") format("woff2"), url("../fonts/oswald/Oswald-Medium.woff") format("woff"), url("../fonts/oswald/Oswald-Medium.svg#../fonts/oswald/Oswald-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'os-light';
  src: url("../fonts/oswald/Oswald-Light.woff2") format("woff2"), url("../fonts/oswald/Oswald-Light.woff") format("woff"), url("../fonts/oswald/Oswald-Light.svg#../fonts/oswald/Oswald-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'os-bold';
  src: url("../fonts/oswald/Oswald-Bold.woff2") format("woff2"), url("../fonts/oswald/Oswald-Bold.woff") format("woff"), url("../fonts/oswald/Oswald-Bold.svg#../fonts/oswald/Oswald-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'os-exlight';
  src: url("../fonts/oswald/Oswald-ExtraLight.woff2") format("woff2"), url("../fonts/oswald/Oswald-ExtraLight.woff") format("woff"), url("../fonts/oswald/Oswald-ExtraLight.svg#../fonts/oswald/Oswald-ExtraLight") format("svg");
  font-weight: 200;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'os-semibold';
  src: url("../fonts/oswald/Oswald-SemiBold.woff2") format("woff2"), url("../fonts/oswald/Oswald-SemiBold.woff") format("woff"), url("../fonts/oswald/Oswald-SemiBold.svg#../fonts/oswald/Oswald-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'os-regular';
  src: url("../fonts/oswald/Oswald-Regular.woff2") format("woff2"), url("../fonts/oswald/Oswald-Regular.woff") format("woff"), url("../fonts/oswald/Oswald-Regular.svg#../fonts/oswald/Oswald-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'LineIcons';
  src: url("../fonts/LineIcons.eot?tc3uo0");
  src: url("../fonts/LineIcons.eot?tc3uo0#iefix") format("embedded-opentype"), url("../fonts/LineIcons.ttf?tc3uo0") format("truetype"), url("../fonts/LineIcons.woff?tc3uo0") format("woff"), url("../fonts/LineIcons.svg?tc3uo0#LineIcons") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="lni-"], [class*=" lni-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'LineIcons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.lni-image:before {
  content: "\e991"; }

.lni-linkedin-filled:before {
  content: "\e9ac"; }

.lni-add-files:before {
  content: "\e900"; }

.lni-agenda:before {
  content: "\e901"; }

.lni-alarm-clock:before {
  content: "\e902"; }

.lni-alarm:before {
  content: "\e903"; }

.lni-amazon:before {
  content: "\e904"; }

.lni-amex:before {
  content: "\e905"; }

.lni-anchor:before {
  content: "\e906"; }

.lni-android:before {
  content: "\e907"; }

.lni-angle-double-down:before {
  content: "\e908"; }

.lni-angle-double-left:before {
  content: "\e909"; }

.lni-angle-double-right:before {
  content: "\e90a"; }

.lni-angle-double-up:before {
  content: "\e90b"; }

.lni-apartment:before {
  content: "\e90c"; }

.lni-apple:before {
  content: "\e90d"; }

.lni-archive:before {
  content: "\e90e"; }

.lni-arrow-down-circle:before {
  content: "\e90f"; }

.lni-arrow-down:before {
  content: "\e910"; }

.lni-arrow-left-circle:before {
  content: "\e911"; }

.lni-arrow-left:before {
  content: "\e912"; }

.lni-arrow-right-circle:before {
  content: "\e913"; }

.lni-arrow-right:before {
  content: "\e914"; }

.lni-arrow-top-left:before {
  content: "\e915"; }

.lni-arrow-top-right:before {
  content: "\e916"; }

.lni-arrow-up-circle:before {
  content: "\e917"; }

.lni-arrow-up:before {
  content: "\e918"; }

.lni-arrows-horizontal:before {
  content: "\e919"; }

.lni-arrows-vertical:before {
  content: "\e91a"; }

.lni-ban:before {
  content: "\e91b"; }

.lni-bar-chart:before {
  content: "\e91c"; }

.lni-basketball:before {
  content: "\e91d"; }

.lni-behance:before {
  content: "\e91e"; }

.lni-bi-cycle:before {
  content: "\e91f"; }

.lni-bitbucket:before {
  content: "\e920"; }

.lni-bitcoin:before {
  content: "\e921"; }

.lni-blackboard:before {
  content: "\e922"; }

.lni-bluetooth:before {
  content: "\e923"; }

.lni-bold:before {
  content: "\e924"; }

.lni-bolt-alt:before {
  content: "\e925"; }

.lni-bolt:before {
  content: "\e926"; }

.lni-book:before {
  content: "\e927"; }

.lni-bookmark-alt:before {
  content: "\e928"; }

.lni-bookmark:before {
  content: "\e929"; }

.lni-briefcase:before {
  content: "\e92a"; }

.lni-brush-alt:before {
  content: "\e92b"; }

.lni-brush:before {
  content: "\e92c"; }

.lni-bubble:before {
  content: "\e92d"; }

.lni-bug:before {
  content: "\e92e"; }

.lni-bulb:before {
  content: "\e92f"; }

.lni-bullhorn:before {
  content: "\e930"; }

.lni-bus:before {
  content: "\e931"; }

.lni-calendar:before {
  content: "\e932"; }

.lni-camera:before {
  content: "\e933"; }

.lni-car:before {
  content: "\e934"; }

.lni-cart-full:before {
  content: "\e935"; }

.lni-cart:before {
  content: "\e936"; }

.lni-check-box:before {
  content: "\e937"; }

.lni-check-mark-circle:before {
  content: "\e938"; }

.lni-chevron-down-circle:before {
  content: "\e939"; }

.lni-chevron-down:before {
  content: "\e93a"; }

.lni-chevron-left-circle:before {
  content: "\e93b"; }

.lni-chevron-left:before {
  content: "\e93c"; }

.lni-chevron-right-circle:before {
  content: "\e93d"; }

.lni-chevron-right:before {
  content: "\e93e"; }

.lni-chevron-up-circle:before {
  content: "\e93f"; }

.lni-chevron-up:before {
  content: "\e940"; }

.lni-chrome:before {
  content: "\e941"; }

.lni-circle-minus:before {
  content: "\e942"; }

.lni-clipboard:before {
  content: "\e943"; }

.lni-close:before {
  content: "\e944"; }

.lni-cloud-check:before {
  content: "\e945"; }

.lni-cloud-download:before {
  content: "\e946"; }

.lni-cloud-sync:before {
  content: "\e947"; }

.lni-cloud-upload:before {
  content: "\e948"; }

.lni-cloud:before {
  content: "\e949"; }

.lni-code:before {
  content: "\e94a"; }

.lni-coffee-cup:before {
  content: "\e94b"; }

.lni-cog:before {
  content: "\e94c"; }

.lni-color-pallet:before {
  content: "\e94d"; }

.lni-comment-reply-alt:before {
  content: "\e94e"; }

.lni-comments-alt:before {
  content: "\e94f"; }

.lni-comments:before {
  content: "\e950"; }

.lni-construction:before {
  content: "\e951"; }

.lni-control-panel:before {
  content: "\e952"; }

.lni-crop:before {
  content: "\e953"; }

.lni-cross-circle:before {
  content: "\e954"; }

.lni-crown:before {
  content: "\e955"; }

.lni-css3:before {
  content: "\e956"; }

.lni-cup:before {
  content: "\e957"; }

.lni-cut:before {
  content: "\e958"; }

.lni-dashboard:before {
  content: "\e959"; }

.lni-database:before {
  content: "\e95a"; }

.lni-dinner:before {
  content: "\e95b"; }

.lni-direction-alt:before {
  content: "\e95c"; }

.lni-direction-ltr:before {
  content: "\e95d"; }

.lni-direction-rtl:before {
  content: "\e95e"; }

.lni-direction:before {
  content: "\e95f"; }

.lni-display:before {
  content: "\e960"; }

.lni-download:before {
  content: "\e961"; }

.lni-drop:before {
  content: "\e962"; }

.lni-dropbox:before {
  content: "\e963"; }

.lni-drupal:before {
  content: "\e964"; }

.lni-emoji-neutral:before {
  content: "\e965"; }

.lni-emoji-sad:before {
  content: "\e966"; }

.lni-emoji-smile:before {
  content: "\e967"; }

.lni-empty-file:before {
  content: "\e968"; }

.lni-enter:before {
  content: "\e969"; }

.lni-envelope:before {
  content: "\e96a"; }

.lni-eraser:before {
  content: "\e96b"; }

.lni-exit-down:before {
  content: "\e96c"; }

.lni-exit-up:before {
  content: "\e96d"; }

.lni-exit:before {
  content: "\e96e"; }

.lni-eye:before {
  content: "\e96f"; }

.lni-facebook-filled:before {
  content: "\e970"; }

.lni-facebook:before {
  content: "\e971"; }

.lni-files:before {
  content: "\e972"; }

.lni-film-play:before {
  content: "\e973"; }

.lni-firefox:before {
  content: "\e974"; }

.lni-flag-alt:before {
  content: "\e975"; }

.lni-flag-cubic:before {
  content: "\e976"; }

.lni-flag:before {
  content: "\e977"; }

.lni-folder:before {
  content: "\e978"; }

.lni-frame-contract:before {
  content: "\e979"; }

.lni-frame-expand:before {
  content: "\e97a"; }

.lni-full-screen:before {
  content: "\e97b"; }

.lni-funnel:before {
  content: "\e97c"; }

.lni-gallery:before {
  content: "\e97d"; }

.lni-game:before {
  content: "\e97e"; }

.lni-gift:before {
  content: "\e97f"; }

.lni-git:before {
  content: "\e980"; }

.lni-github:before {
  content: "\e981"; }

.lni-google-plus:before {
  content: "\e982"; }

.lni-graduation:before {
  content: "\e983"; }

.lni-grid-alt:before {
  content: "\e984"; }

.lni-grid:before {
  content: "\e985"; }

.lni-hammer:before {
  content: "\e986"; }

.lni-hand:before {
  content: "\e987"; }

.lni-harddrive:before {
  content: "\e988"; }

.lni-headphone-alt:before {
  content: "\e989"; }

.lni-headphone:before {
  content: "\e98a"; }

.lni-heart-filled:before {
  content: "\e98b"; }

.lni-heart-pulse:before {
  content: "\e98c"; }

.lni-heart:before {
  content: "\e98d"; }

.lni-help:before {
  content: "\e98e"; }

.lni-highlight-alt:before {
  content: "\e98f"; }

.lni-highlight:before {
  content: "\e990"; }

.lni-hobile:before {
  content: "\e992"; }

.lni-home:before {
  content: "\e993"; }

.lni-hourglass:before {
  content: "\e994"; }

.lni-html5:before {
  content: "\e995"; }

.lni-inbox:before {
  content: "\e996"; }

.lni-indent-decrease:before {
  content: "\e997"; }

.lni-indent-increase:before {
  content: "\e998"; }

.lni-Infinite:before {
  content: "\e999"; }

.lni-information:before {
  content: "\e99a"; }

.lni-instagram-filled:before {
  content: "\e99b"; }

.lni-instagram:before {
  content: "\e99c"; }

.lni-italic:before {
  content: "\e99d"; }

.lni-joomla:before {
  content: "\e99e"; }

.lni-key:before {
  content: "\e99f"; }

.lni-keyboard:before {
  content: "\e9a0"; }

.lni-laptop-phone:before {
  content: "\e9a1"; }

.lni-laptop:before {
  content: "\e9a2"; }

.lni-layers:before {
  content: "\e9a3"; }

.lni-layout:before {
  content: "\e9a4"; }

.lni-leaf:before {
  content: "\e9a5"; }

.lni-licencse:before {
  content: "\e9a6"; }

.lni-line-dashed:before {
  content: "\e9a7"; }

.lni-line-dotted:before {
  content: "\e9a8"; }

.lni-line-double:before {
  content: "\e9a9"; }

.lni-line-spacing:before {
  content: "\e9aa"; }

.lni-link:before {
  content: "\e9ab"; }

.lni-linkedin:before {
  content: "\e9ad"; }

.lni-list:before {
  content: "\e9ae"; }

.lni-lock:before {
  content: "\e9af"; }

.lni-magnet:before {
  content: "\e9b0"; }

.lni-magnifier:before {
  content: "\e9b1"; }

.lni-map-marker:before {
  content: "\e9b2"; }

.lni-map:before {
  content: "\e9b3"; }

.lni-mastercard:before {
  content: "\e9b4"; }

.lni-medall-alt:before {
  content: "\e9b5"; }

.lni-medall:before {
  content: "\e9b6"; }

.lni-medium:before {
  content: "\e9b7"; }

.lni-menu-circle:before {
  content: "\e9b8"; }

.lni-menu:before {
  content: "\e9b9"; }

.lni-mic:before {
  content: "\e9ba"; }

.lni-microphone:before {
  content: "\e9bb"; }

.lni-minus:before {
  content: "\e9bc"; }

.lni-mobile:before {
  content: "\e9bd"; }

.lni-more-alt:before {
  content: "\e9be"; }

.lni-more:before {
  content: "\e9bf"; }

.lni-mouse:before {
  content: "\e9c0"; }

.lni-move:before {
  content: "\e9c1"; }

.lni-music:before {
  content: "\e9c2"; }

.lni-notepad:before {
  content: "\e9c3"; }

.lni-package:before {
  content: "\e9c4"; }

.lni-page-break:before {
  content: "\e9c5"; }

.lni-paint-bucket:before {
  content: "\e9c6"; }

.lni-paint-roller:before {
  content: "\e9c7"; }

.lni-paperclip:before {
  content: "\e9c8"; }

.lni-paypal:before {
  content: "\e9c9"; }

.lni-pencil-alt:before {
  content: "\e9ca"; }

.lni-pencil:before {
  content: "\e9cb"; }

.lni-phone-handset:before {
  content: "\e9cc"; }

.lni-phone:before {
  content: "\e9cd"; }

.lni-pie-chart:before {
  content: "\e9ce"; }

.lni-pilcrow:before {
  content: "\e9cf"; }

.lni-pin-alt:before {
  content: "\e9d0"; }

.lni-pin-corner:before {
  content: "\e9d1"; }

.lni-pin:before {
  content: "\e9d2"; }

.lni-pinterest:before {
  content: "\e9d3"; }

.lni-playstore:before {
  content: "\e9d4"; }

.lni-plug:before {
  content: "\e9d5"; }

.lni-plus:before {
  content: "\e9d6"; }

.lni-pointer-down:before {
  content: "\e9d7"; }

.lni-pointer-left:before {
  content: "\e9d8"; }

.lni-pointer-right:before {
  content: "\e9d9"; }

.lni-pointer-up:before {
  content: "\e9da"; }

.lni-pointer:before {
  content: "\e9db"; }

.lni-power-switch:before {
  content: "\e9dc"; }

.lni-printer:before {
  content: "\e9dd"; }

.lni-pulse:before {
  content: "\e9de"; }

.lni-question-circle:before {
  content: "\e9df"; }

.lni-quora:before {
  content: "\e9e0"; }

.lni-reddit:before {
  content: "\e9e1"; }

.lni-reload:before {
  content: "\e9e2"; }

.lni-reply:before {
  content: "\e9e3"; }

.lni-rocket:before {
  content: "\e9e4"; }

.lni-rss-feed:before {
  content: "\e9e5"; }

.lni-ruler-alt:before {
  content: "\e9e6"; }

.lni-ruler-pencil:before {
  content: "\e9e7"; }

.lni-ruler:before {
  content: "\e9e8"; }

.lni-save-alt:before {
  content: "\e9e9"; }

.lni-save:before {
  content: "\e9ea"; }

.lni-search:before {
  content: "\e9eb"; }

.lni-select:before {
  content: "\e9ec"; }

.lni-share-alt:before {
  content: "\e9ed"; }

.lni-share:before {
  content: "\e9ee"; }

.lni-shield:before {
  content: "\e9ef"; }

.lni-shift-left:before {
  content: "\e9f0"; }

.lni-shift-right:before {
  content: "\e9f1"; }

.lni-shortcode:before {
  content: "\e9f2"; }

.lni-signal:before {
  content: "\e9f3"; }

.lni-slice:before {
  content: "\e9f4"; }

.lni-sort-alpha-asc:before {
  content: "\e9f5"; }

.lni-sort-amount-asc:before {
  content: "\e9f6"; }

.lni-soundcloud:before {
  content: "\e9f7"; }

.lni-spellcheck:before {
  content: "\e9f8"; }

.lni-spotify:before {
  content: "\e9f9"; }

.lni-spray:before {
  content: "\e9fa"; }

.lni-stamp:before {
  content: "\e9fb"; }

.lni-star-empty:before {
  content: "\e9fc"; }

.lni-star-filled:before {
  content: "\e9fd"; }

.lni-star-half:before {
  content: "\e9fe"; }

.lni-star:before {
  content: "\e9ff"; }

.lni-stats-down:before {
  content: "\ea00"; }

.lni-stats-up:before {
  content: "\ea01"; }

.lni-strikethrough:before {
  content: "\ea02"; }

.lni-stripe:before {
  content: "\ea03"; }

.lni-support:before {
  content: "\ea04"; }

.lni-tab:before {
  content: "\ea05"; }

.lni-tag:before {
  content: "\ea06"; }

.lni-target:before {
  content: "\ea07"; }

.lni-teabag:before {
  content: "\ea08"; }

.lni-text-align-right:before {
  content: "\ea09"; }

.lni-text-align-center:before {
  content: "\ea0a"; }

.lni-text-align-justify:before {
  content: "\ea0b"; }

.lni-text-align-left:before {
  content: "\ea0c"; }

.lni-text-format-remove:before {
  content: "\ea0d"; }

.lni-text-format:before {
  content: "\ea0e"; }

.lni-text-size:before {
  content: "\ea0f"; }

.lni-thought:before {
  content: "\ea10"; }

.lni-thumbs-down:before {
  content: "\ea11"; }

.lni-thumbs-up:before {
  content: "\ea12"; }

.lni-ticket-alt:before {
  content: "\ea13"; }

.lni-ticket:before {
  content: "\ea14"; }

.lni-timer:before {
  content: "\ea15"; }

.lni-train:before {
  content: "\ea16"; }

.lni-trash:before {
  content: "\ea17"; }

.lni-tshirt:before {
  content: "\ea18"; }

.lni-twitter-filled:before {
  content: "\ea19"; }

.lni-twitter:before {
  content: "\ea1a"; }

.lni-underline:before {
  content: "\ea1b"; }

.lni-unlink:before {
  content: "\ea1c"; }

.lni-unlock:before {
  content: "\ea1d"; }

.lni-upload:before {
  content: "\ea1e"; }

.lni-user:before {
  content: "\ea1f"; }

.lni-users:before {
  content: "\ea20"; }

.lni-vector:before {
  content: "\ea21"; }

.lni-video:before {
  content: "\ea22"; }

.lni-visa:before {
  content: "\ea23"; }

.lni-volume-high:before {
  content: "\ea24"; }

.lni-volume-low:before {
  content: "\ea25"; }

.lni-volume-medium:before {
  content: "\ea26"; }

.lni-volume-mute:before {
  content: "\ea27"; }

.lni-wallet:before {
  content: "\ea28"; }

.lni-warning:before {
  content: "\ea29"; }

.lni-wheelchair:before {
  content: "\ea2a"; }

.lni-wordpress-filled:before {
  content: "\ea2b"; }

.lni-wordpress:before {
  content: "\ea2c"; }

.lni-world-alt:before {
  content: "\ea2d"; }

.lni-world:before {
  content: "\ea2e"; }

.lni-write:before {
  content: "\ea2f"; }

.lni-zip:before {
  content: "\ea30"; }

.lni-zoom-in:before {
  content: "\ea31"; }

.lni-zoom-out:before {
  content: "\ea32"; }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?w3lwc3");
  src: url("../fonts/icomoon/icomoon.eot?w3lwc3#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?w3lwc3") format("truetype"), url("../fonts/icomoon/icomoon.woff?w3lwc3") format("woff"), url("../fonts/icomoon/icomoon.svg?w3lwc3#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block; }

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-boyutl-gorsel:before {
  content: "\e900"; }

.icon-daha-cok-satis:before {
  content: "\e901"; }

.icon-ekonomik:before {
  content: "\e902"; }

.icon-gercek-posiyon-boyutu:before {
  content: "\e903"; }

.icon-hijyenik:before {
  content: "\e904"; }

.icon-iletisime-gecin:before {
  content: "\e905"; }

.icon-iste-bu-kadar:before {
  content: "\e906"; }

.icon-kamerayi-dogrult:before {
  content: "\e907"; }

.icon-kesfetmeye-basla:before {
  content: "\e908"; }

.icon-menuyu-incele:before {
  content: "\e909"; }

.icon-musteri-memnuniyeti:before {
  content: "\e90a"; }

.icon-populer-mekanlari-bul:before {
  content: "\e90b"; }

.icon-pratik:before {
  content: "\e90c"; }

.icon-restoranti-sec:before {
  content: "\e921"; }

.icon-yemeklerinizi-hazirlayin:before {
  content: "\e922"; }

.icon-yeni-musteriler:before {
  content: "\e923"; }

.icon-user:before {
  content: "\e90d"; }

.icon-send:before {
  content: "\e90e"; }

.icon-envelope:before {
  content: "\e90f"; }

.icon-arrow-thin-up:before {
  content: "\e910"; }

.icon-arrow-thin-right:before {
  content: "\e911"; }

.icon-arrow-thin-left:before {
  content: "\e912"; }

.icon-arrow-thin-down:before {
  content: "\e913"; }

.icon-chevron-thin-right:before {
  content: "\e914"; }

.icon-chevron-thin-left:before {
  content: "\e915"; }

.icon-align-left:before {
  content: "\e916"; }

.icon-calendar:before {
  content: "\e920"; }

.icon-linkedin:before {
  content: "\e917"; }

.icon-brand:before {
  content: "\e917"; }

.icon-social:before {
  content: "\e917"; }

.icon-vimeo:before {
  content: "\e918"; }

.icon-brand1:before {
  content: "\e918"; }

.icon-social1:before {
  content: "\e918"; }

.icon-youtube:before {
  content: "\e919"; }

.icon-brand2:before {
  content: "\e919"; }

.icon-social2:before {
  content: "\e919"; }

.icon-twitter:before {
  content: "\e91a"; }

.icon-brand3:before {
  content: "\e91a"; }

.icon-tweet:before {
  content: "\e91a"; }

.icon-social3:before {
  content: "\e91a"; }

.icon-whatsapp:before {
  content: "\e91b"; }

.icon-brand4:before {
  content: "\e91b"; }

.icon-social4:before {
  content: "\e91b"; }

.icon-instagram:before {
  content: "\e91c"; }

.icon-brand5:before {
  content: "\e91c"; }

.icon-social5:before {
  content: "\e91c"; }

.icon-facebook:before {
  content: "\e91d"; }

.icon-brand6:before {
  content: "\e91d"; }

.icon-social6:before {
  content: "\e91d"; }

.icon-share:before {
  content: "\e91e"; }

.icon-social7:before {
  content: "\e91e"; }

.icon-price-tag:before {
  content: "\e91f"; }

html {
  overflow-x: hidden; }

body {
  background: #fff;
  font-size: 14px;
  font-weight: 400;
  font-family: 'open-regular', sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: subpixel-antialiased;
  color: #666;
  line-height: 25px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow-x: hidden; }

h1,
h2,
h3,
h4 {
  font-size: 38px;
  color: #222222;
  font-weight: 500;
  font-family: 'os-medium', serif; }

a {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear; }
  a:hover {
    text-decoration: none; }
  a a:focus {
    outline: none; }

p {
  font-weight: 400;
  font-family: 'open-regular', sans-serif;
  margin: 0px;
  font-size: 16px; }

ul,
ol {
  list-style: outside none none;
  margin: 0;
  padding: 0; }
  ul li,
  ol li {
    list-style: none; }

a:not([href]):not([tabindex]) {
  color: #fff; }

.section-header {
  margin-bottom: 30px; }
  .section-header p {
    text-align: center;
    font-weight: 400;
    line-height: 26px; }

.section-title {
  font-size: 30px;
  color: #222222;
  display: inline-block;
  font-weight: 500;
  position: relative; }

.shape {
  height: 1px;
  margin: 0 auto 30px;
  position: relative;
  width: 60px;
  background-color: #af1e5f; }

.padding-none {
  padding: 0px; }

.bg-gray {
  background: #f9f9f9; }

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: rgba(61, 96, 244, 0.3); }

.btn {
  font-size: 14px;
  padding: 10px 30px;
  cursor: pointer;
  font-weight: 400;
  color: #fff;
  border-radius: 30px;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  display: inline-block; }

.btn:focus,
.btn:active {
  box-shadow: none;
  outline: none;
  color: #fff; }

.btn-common {
  background-color: #af1e5f;
  position: relative;
  z-index: 1;
  text-transform: uppercase; }
  .btn-common:hover {
    color: #af1e5f;
    background: transparent;
    border: 1px dotted #af1e5f;
    box-shadow: 0 6px 22px rgba(0, 0, 0, 0.1);
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out; }

.btn-border {
  color: #af1e5f;
  background-color: transparent;
  border: 1px solid #af1e5f;
  border-radius: 30px;
  text-transform: uppercase; }
  .btn-border:hover {
    color: #fff;
    border-color: #af1e5f;
    background-color: #af1e5f; }

.btn-border:focus {
  color: #fff;
  border-color: #af1e5f;
  background-color: #af1e5f; }

.btn-lg {
  padding: 14px 33px;
  text-transform: uppercase;
  font-size: 16px; }

.btn-rm {
  padding: 7px 0px;
  color: #af1e5f;
  text-transform: capitalize; }
  .btn-rm:hover {
    color: #af1e5f; }

button:focus {
  outline: none !important; }

.icon-close,
.icon-check {
  color: #af1e5f; }

.social-icon a {
  color: #666;
  background: #fff;
  width: 32px;
  height: 32px;
  line-height: 34px;
  display: inline-block;
  text-align: center;
  border-radius: 100%;
  font-size: 16px;
  margin: 15px 6px 12px 4px;
  transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s; }
  .social-icon a:hover {
    color: #fff !important; }

.social-icon .facebook:hover {
  background: #3b5999; }

.social-icon .twitter:hover {
  background: #4A9CEC; }

.social-icon .instagram:hover {
  background: #D6274D; }

.social-icon .linkedin:hover {
  background: #1260A2; }

.social-icon .google:hover {
  background: #CE332A; }

/* ScrollToTop */
a.back-to-top {
  display: none;
  position: fixed;
  bottom: 18px;
  right: 15px;
  text-decoration: none; }
  a.back-to-top i {
    display: block;
    font-size: 22px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    background: #af1e5f;
    border-radius: 30px;
    text-align: center;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28); }
  a.back-to-top:hover, a.back-to-top:focus {
    text-decoration: none; }

/* Preloader */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 9999999; }

.loader {
  top: 50%;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  position: relative;
  margin: 0 auto; }

#loader-1:before,
#loader-1:after {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 7px solid transparent;
  border-top-color: #af1e5f; }

#loader-1:before {
  z-index: 100;
  animation: spin 1s infinite; }

#loader-1:after {
  border: 7px solid #f2f2f2; }

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }

.section-padding {
  padding: 60px 0; }

hr {
  border-top: 1px dotted #ddd; }

.mtop-0 {
  margin-top: 0 !important; }

.phone-mockup-video {
  margin-top: 0 !important;
  position: relative;
  z-index: 10;
  width: 310px;
  height: 650px;
  background-image: url(../img/iphone_1_mob@2x.png);
  background-size: 310px 630px;
  background-position: 50% auto;
  background-repeat: no-repeat; }

.mockup-video {
  position: absolute;
  height: 581px;
  width: 271px;
  left: 16px;
  top: 21px;
  z-index: 1; }
  .mockup-video.video-2 {
    height: 581px;
    width: 271px;
    left: 16px; }
  .mockup-video video {
    width: 100%;
    height: 100%;
    outline: 1px solid #000; }

.iphone-x .phone-mockup-video {
  width: 305px;
  height: 620px;
  background-image: url(../img/iphone.png);
  background-size: 305px 620px; }

.iphone-x .mockup-video {
  top: 20px;
  height: 580px;
  z-index: 9; }

@media (max-width: 991px) {
  .video-mockup-wrapper {
    width: 305px;
    height: 650px;
    position: relative;
    margin: 0 auto; }
  .mockup-video {
    left: 20px;
    z-index: 9; }
    .mockup-video.video-2 {
      left: 18px;
      z-index: 9;
      top: 73px;
      height: 482px; } }

.classic-input {
  padding: 10px 15px;
  border: 1px solid #efefef;
  background: #fff;
  margin: 15px 0; }

.mtop-15 {
  margin-top: 15px; }

.ptop-100 {
  padding-top: 100px; }

.pbot-100 {
  padding-bottom: 100px; }

.ptop-50 {
  padding-top: 50px; }

.pbot-50 {
  padding-bottom: 50px; }

.wit100 {
  width: 100%;
  max-width: 100%; }

.app-text-wrapper {
  justify-content: center;
  align-self: center; }
  .app-text-wrapper p {
    margin: 25px 0; }

@media (max-width: 768px) {
  .appstore-img {
    display: none; } }

.restorant-slider {
  margin-top: 150px; }

#restorant {
  margin: 20px 0; }

.accordion .btn-link {
  color: #666;
  padding-left: 10px; }

.accordion .card-header {
  padding: 0; }

.bg-buttons {
  background-color: #af1e5f;
  color: #fff;
  padding: 10px 15px;
  border: 1px solid transparent;
  border-radius: 30px;
  transition: all .3s ease; }
  .bg-buttons:hover {
    border-color: #af1e5f;
    background: #fff;
    color: #af1e5f; }

.global-content {
  padding: 50px 0; }

.classic-text {
  font-size: 14px;
  color: #333; }
  .classic-text p {
    font-size: 14px;
    margin: 15px 0; }
  .classic-text ol,
  .classic-text ul {
    list-style: disc;
    margin-left: 15px; }
    .classic-text ol li,
    .classic-text ul li {
      list-style: disc;
      margin-left: 5px; }

.video-wrapper {
  width: 100%;
  max-width: 800px;
  margin: 50px auto; }

.how-do-work-2 img.how-work-img {
  max-width: 90%; }
  @media (max-width: 768px) {
    .how-do-work-2 img.how-work-img {
      display: none; } }

.how-do-work-2 ul.how-work-list li {
  margin-bottom: 20px;
  font-size: 15px;
  padding: 0 10px;
  transition: all .3s ease;
  cursor: pointer; }
  .how-do-work-2 ul.how-work-list li strong {
    font-size: 16px;
    font-weight: bold;
    padding: 10px; }
  .how-do-work-2 ul.how-work-list li:hover, .how-do-work-2 ul.how-work-list li.active {
    font-weight: bold;
    color: #af1e5f; }
  @media (max-width: 768px) {
    .how-do-work-2 ul.how-work-list li {
      width: 50%;
      float: left;
      padding: 15px;
      font-size: 12px;
      text-align: center; }
      .how-do-work-2 ul.how-work-list li strong {
        font-size: 13px;
        display: none; }
      .how-do-work-2 ul.how-work-list li img {
        margin-bottom: 20px;
        width: 100%; }
      .how-do-work-2 ul.how-work-list li span {
        display: block;
        height: 45px; } }

/* ==========================================================================
  8. Features Section Style
   ========================================================================== */
.how-do-work {
  background: #fff; }
  .how-do-work .icon {
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 4px;
    text-align: center;
    position: relative;
    z-index: 1; }
  .how-do-work .content-left span {
    float: right; }
  .how-do-work .content-left .text {
    text-align: right; }
  .how-do-work .content-right span {
    float: left; }
  .how-do-work .box-item {
    box-shadow: 0 0 12px #F4F4F4;
    padding: 15px;
    line-height: 22px;
    margin-top: 30px;
    border-radius: 3px;
    background-color: #fff;
    -webkit-transition: all .3s ease-in-out;
    -mox-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    position: relative;
    top: 0; }
    .how-do-work .box-item .icon {
      text-align: center;
      margin: 12px;
      -webkit-transition: all 0.2s linear;
      -moz-transition: all 0.2s linear;
      -o-transition: all 0.2s linear;
      transition: all 0.2s linear; }
      .how-do-work .box-item .icon i {
        color: #af1e5f;
        font-size: 30px;
        -webkit-transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
        -o-transition: all 0.2s linear;
        transition: all 0.2s linear; }
    .how-do-work .box-item .text h4 {
      cursor: pointer;
      font-size: 18px;
      font-weight: 500;
      line-height: 22px;
      -webkit-transition: all 0.2s linear;
      -moz-transition: all 0.2s linear;
      -o-transition: all 0.2s linear;
      transition: all 0.2s linear; }
    .how-do-work .box-item .text p {
      font-size: 16px;
      line-height: 26px; }
  .how-do-work .box-item:hover {
    box-shadow: 0 10px 22px 10px rgba(27, 38, 49, 0.1); }
  .how-do-work .box-item:hover h4 {
    color: #af1e5f; }
  .how-do-work .show-box {
    margin-top: 50px; }
    .how-do-work .show-box img {
      width: 100%; }

/* Services Item */
.services-item {
  padding: 20px;
  border-radius: 4px;
  text-align: center;
  margin: 15px 0;
  box-shadow: 0 0 12px #F4F4F4;
  transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s; }
  .services-item .icon {
    border: 1px solid #f1f1f1;
    width: 95px;
    height: 95px;
    border-radius: 50%;
    margin: 0 auto;
    transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s; }
    .services-item .icon i {
      font-size: 55px;
      color: #af1e5f;
      line-height: 95px;
      transition: all 0.3s ease-in-out 0s;
      -moz-transition: all 0.3s ease-in-out 0s;
      -webkit-transition: all 0.3s ease-in-out 0s;
      -o-transition: all 0.3s ease-in-out 0s; }
  .services-item .services-content h3 {
    margin-top: 10px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 10px; }
    .services-item .services-content h3 a {
      font-size: 16px;
      color: #585b60; }
      .services-item .services-content h3 a:hover {
        color: #af1e5f; }

.services-item:hover {
  box-shadow: 0 10px 22px 10px rgba(27, 38, 49, 0.1); }

.services-item:hover .icon {
  background: #af1e5f; }
  .services-item:hover .icon i {
    color: #fff; }

#service {
  position: relative; }

.about-area .about-wrapper {
  height: 100%;
  width: 100%;
  display: table; }
  .about-area .about-wrapper > div {
    vertical-align: middle;
    display: table-cell; }

.about-area img {
  border-radius: 4px; }

.about-area .content {
  margin-top: 15px; }
  .about-area .content p {
    margin-bottom: 30px; }

#cta {
  padding: 30px 0; }

.navbar-brand {
  position: relative;
  padding: 0px;
  margin: 10px 0;
  max-width: 170px; }
  @media (max-width: 768px) {
    .navbar-brand {
      margin: 0; } }

.top-nav-collapse {
  background: #fff;
  z-index: 999999;
  padding: 5px !important;
  top: 0px !important;
  box-shadow: 0px 3px 6px 3px rgba(0, 0, 0, 0.06);
  background: #fff !important;
  -webkit-animation-duration: 1s;
  animation-duration: 1s; }
  .top-nav-collapse .navbar-brand {
    top: 0px; }
    .top-nav-collapse .navbar-brand img {
      width: 100%; }

.navbar-expand-md .navbar-toggler {
  background: transparent;
  border: 1px solid #af1e5f;
  color: #af1e5f;
  border-radius: 4px;
  cursor: pointer; }

.navbar-brand img {
  width: 100%; }

.top-nav-collapse .navbar-nav li.active a.nav-link {
  color: #af1e5f !important;
  border-color: #af1e5f; }

.indigo {
  background: transparent; }

.menu-bg {
  background: transparent; }

.navbar-expand-md .navbar-nav .nav-link i {
  font-size: 14px;
  margin-left: 5px;
  vertical-align: middle;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.navbar-expand-md .navbar-nav .nav-item {
  padding-left: 25px; }

.navbar-expand-md .navbar-nav .nav-link {
  color: #333;
  font-weight: 400;
  padding: 7px 0;
  cursor: pointer;
  position: relative;
  background: transparent;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  .navbar-expand-md .navbar-nav .nav-link:before {
    background-color: #af1e5f;
    content: '';
    display: block;
    height: 2px;
    position: absolute;
    margin: 0 auto;
    width: 0;
    top: 35px;
    left: 0;
    right: 0;
    bottom: 0;
    transition: width 1s;
    -ms-transition: width 1s;
    -webkit-transition: width 1s; }
  @media (min-width: 991px) {
    .navbar-expand-md .navbar-nav .nav-link.bg-button {
      background-color: #af1e5f;
      color: #fff;
      padding: 5px 10px 6px;
      border: 1px solid transparent;
      border-radius: 30px;
      transition: all .3s ease; }
      .navbar-expand-md .navbar-nav .nav-link.bg-button:before {
        content: none;
        display: none; }
      .navbar-expand-md .navbar-nav .nav-link.bg-button:hover {
        border-color: #af1e5f;
        background: #fff;
        color: #af1e5f; } }

.navbar-expand-md .navbar-nav li a:hover,
.navbar-expand-md .navbar-nav li .active > a,
.navbar-expand-md .navbar-nav li a:focus {
  color: #fff;
  outline: none; }

.navbar-expand-md .navbar-nav .active > .nav-link,
.navbar-expand-md .navbar-nav .nav-link.active,
.navbar-expand-md .navbar-nav .nav-link.open,
.navbar-expand-md .navbar-nav .open > .nav-link {
  color: #af1e5f !important;
  width: 100%; }

.navbar-expand-md .navbar-nav .nav-link:hover,
.navbar-expand-md .navbar-nav .nav-link:hover::before,
.navbar-expand-md .navbar-nav .nav-link:focus {
  color: #af1e5f;
  width: 100%;
  transition: width 1s;
  -webkit-transition: width 1s;
  -ms-transition: width 1s; }

.navbar {
  padding: 10px 0;
  background: #fff; }
  .navbar li.active a.nav-link {
    color: #af1e5f; }

.dropdown-toggle::after {
  display: none; }

.dropdown-menu {
  margin: 0;
  padding: 0;
  display: none;
  position: absolute;
  z-index: 99;
  min-width: 210px;
  background-color: #fff;
  white-space: nowrap;
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  animation: fadeIn 0.4s;
  -webkit-animation: fadeIn 0.4s;
  -moz-animation: fadeIn 0.4s;
  -o-animation: fadeIn 0.4s;
  -ms-animation: fadeIn 0.4s; }
  .dropdown-menu:before {
    content: "";
    display: inline-block;
    position: absolute;
    bottom: 100%;
    left: 20%;
    margin-left: -5px;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-bottom: 10px solid #fff; }

.dropdown:hover .dropdown-menu {
  display: block;
  position: absolute;
  text-align: left;
  top: 100%;
  border: none;
  animation: fadeIn 0.4s;
  -webkit-animation: fadeIn 0.4s;
  -moz-animation: fadeIn 0.4s;
  -o-animation: fadeIn 0.4s;
  -ms-animation: fadeIn 0.4s; }

.dropdown .dropdown-menu .dropdown-item {
  width: 100%;
  padding: 12px 20px;
  font-size: 14px;
  color: #333;
  border-bottom: 1px solid #f1f1f1;
  text-decoration: none;
  display: inline-block;
  float: left;
  clear: both;
  position: relative;
  outline: 0;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out; }

.dropdown .dropdown-menu .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px; }

.dropdown .dropdown-menu .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px; }

.dropdown .dropdown-item:focus,
.dropdown .dropdown-item:hover,
.dropdown .dropdown-item.active {
  color: #af1e5f;
  background: #f7f7f7; }

.dropdown-item.active,
.dropdown-item:active {
  background: transparent; }

.fadeInUpMenu {
  -webkit-animation-name: fadeInUpMenu;
  animation-name: fadeInUpMenu; }

@media (min-width: 769px) {
  .restorant-navbar img {
    filter: brightness(0) invert(1); } }

@media (min-width: 991px) {
  .restorant-navbar {
    background: #af1e5f; }
    .restorant-navbar .nav-link,
    .restorant-navbar .nav-item.active .nav-link {
      color: #fff !important; }
      .restorant-navbar .nav-link:hover,
      .restorant-navbar .nav-item.active .nav-link:hover {
        color: #fff; }
    .restorant-navbar.top-nav-collapse {
      background: #af1e5f !important; }
      .restorant-navbar.top-nav-collapse .nav-link,
      .restorant-navbar.top-nav-collapse .nav-item.active .nav-link {
        color: #fff !important; }
        .restorant-navbar.top-nav-collapse .nav-link:hover,
        .restorant-navbar.top-nav-collapse .nav-item.active .nav-link:hover {
          color: #fff; }
      .restorant-navbar.top-nav-collapse .bg-button {
        color: #af1e5f !important;
        background: #fff !important;
        border-color: #fff !important; }
    .restorant-navbar .bg-button {
      color: #af1e5f !important;
      background: #fff !important;
      border-color: #fff !important;
      border-width: 2px; }
      .restorant-navbar .bg-button:hover {
        color: #fff !important;
        background: transparent !important; } }

/* ==========================================================================
3. Hero Area
========================================================================== */
#hero-area {
  background-image: url(../img/hero-area.svg);
  background-position: left center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 650px;
  position: relative;
  overflow: hidden;
  padding: 150px 0 80px; }
  #hero-area .contents .head-title {
    color: #444;
    font-size: 32px;
    font-weight: 500;
    line-height: 40px;
    margin-bottom: 10px; }
  #hero-area .contents .header-button {
    margin-top: 20px;
    color: #444; }
    #hero-area .contents .header-button .btn {
      margin-right: 10px; }
  #hero-area p {
    font-size: 16px; }

.sloder-img {
  background: #34363a; }

.breadcrumb {
  background: #a5175f;
  background: linear-gradient(120deg, #a5175f 0%, #fe8856 100%);
  padding: 150px 0 90px;
  text-align: center; }
  .breadcrumb_head {
    color: #fff;
    margin-bottom: 20px; }
  .breadcrumb a {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    padding: 0 15px;
    position: relative;
    display: inline-block; }
    .breadcrumb a:first-child {
      padding-right: 20px; }
      .breadcrumb a:first-child:after {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        content: "\e914";
        font-family: 'icomoon' !important; }

/* blog Item */
.blog-item:hover {
  box-shadow: 0 10px 22px 10px rgba(27, 38, 49, 0.1); }

.blog-item {
  margin: 15px 0;
  border-radius: 0px;
  box-shadow: 0px 2px 18px 0px rgba(198, 198, 198, 0.3);
  transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s; }
  .blog-item .blog-img {
    width: 100%; }
  .blog-item .contetn {
    padding: 15px; }
  .blog-item .info-text {
    margin-bottom: 10px; }
    .blog-item .info-text h3 {
      font-size: 19px;
      margin-bottom: 5px; }
      .blog-item .info-text h3 a {
        color: #333; }
        .blog-item .info-text h3 a:hover {
          color: #af1e5f; }
    .blog-item .info-text p {
      margin: 0;
      color: #888;
      font-size: 13px; }
  .blog-item p {
    font-size: 14px; }

.blog-item:hover .blog-overlay {
  opacity: 1; }

/* ==========================================================================
   Pricing Table Style
   ========================================================================== */
#pricing {
  text-align: center; }
  #pricing .title {
    padding-top: 20px; }
    #pricing .title h3 {
      text-transform: uppercase;
      color: #333;
      font-size: 18px; }
    #pricing .title .month-plan {
      font-size: 16px;
      font-weight: 500;
      color: #333; }
  #pricing .table {
    margin-top: 15px;
    padding: 30px;
    border-radius: 4px;
    border: none !important;
    box-shadow: 0px 2px 18px 0px rgba(198, 198, 198, 0.3);
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    min-height: 633px; }
    @media (max-width: 767px) {
      #pricing .table {
        min-height: auto; } }
    #pricing .table .icon-box {
      position: relative;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      display: inline-block;
      vertical-align: middle;
      background-color: #EBEDEF;
      margin-bottom: 20px;
      -webkit-transition: all .3s linear;
      -moz-transition: all .3s linear;
      -ms-transition: all .3s linear;
      -o-transition: all .3s linear;
      transition: all .3s linear; }
      #pricing .table .icon-box i {
        color: #af1e5f;
        line-height: 80px;
        font-size: 30px;
        -webkit-transition: all .3s linear;
        -moz-transition: all .3s linear;
        -ms-transition: all .3s linear;
        -o-transition: all .3s linear;
        transition: all .3s linear; }
      #pricing .table .icon-box.active {
        background: #af1e5f; }
        #pricing .table .icon-box.active i {
          color: #fff; }
    #pricing .table .pricing-header {
      position: relative;
      text-align: center; }
      #pricing .table .pricing-header .price-value {
        font-size: 24px;
        color: #af1e5f;
        position: relative;
        text-align: center;
        font-weight: 700; }
        #pricing .table .pricing-header .price-value sup {
          font-size: 16px;
          font-weight: 500;
          top: -18px; }
        #pricing .table .pricing-header .price-value span {
          font-size: 15px;
          color: #abacae;
          font-weight: 400; }
    #pricing .table .description {
      text-align: center;
      padding: 0;
      margin-bottom: 20px; }
      #pricing .table .description li {
        font-size: 14px;
        font-weight: 400;
        color: #abacae;
        padding: 4px 0; }
        #pricing .table .description li strong {
          font-weight: bold;
          color: #343434;
          font-size: 15px; }
        #pricing .table .description li:last-child {
          border-bottom: none; }
  #pricing .table:hover {
    background: #ffffff;
    box-shadow: 0 10px 22px 10px rgba(27, 38, 49, 0.1); }
    #pricing .table:hover .icon-box {
      background: #af1e5f; }
      #pricing .table:hover .icon-box i {
        color: #fff; }
  #pricing #active-tb {
    background: #ffffff;
    box-shadow: 0 10px 22px 10px rgba(27, 38, 49, 0.1); }
    #pricing #active-tb .icon-box {
      background: #af1e5f; }
      #pricing #active-tb .icon-box i {
        color: #fff; }
  #pricing .active {
    z-index: 99999; }

.clients {
  position: relative; }

.clients-item {
  background: #fff;
  border-radius: 4px;
  text-align: center;
  padding: 30px 20px; }
  .clients-item .img-thumb {
    position: relative;
    margin: 15px 15px 15px 0; }
    .clients-item .img-thumb img {
      border-radius: 50%;
      display: inline-block;
      width: inherit;
      padding: 7px; }
  .clients-item .content {
    overflow: hidden; }
    .clients-item .content .description {
      width: 100%;
      color: #333; }
    .clients-item .content .star-icon i {
      color: #af1e5f; }
  .clients-item .info h2 {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 30px;
    margin: 0; }
    .clients-item .info h2 a {
      color: #333; }
  .clients-item .info h3 {
    margin: 0;
    clear: both;
    font-size: 14px;
    font-weight: 500;
    line-height: 26px;
    margin-bottom: 10px; }
    .clients-item .info h3 a {
      color: #333; }
  .clients-item .info .indicator {
    font-size: 26px;
    font-weight: 700;
    color: #af1e5f; }
  .clients-item .icon-social {
    margin-top: 30px; }
    .clients-item .icon-social a {
      color: #666;
      background: #fff;
      width: 32px;
      height: 32px;
      line-height: 34px;
      display: inline-block;
      text-align: center;
      border-radius: 100%;
      font-size: 15px;
      margin: 15px 6px 12px 4px;
      transition: all 0.3s ease-in-out 0s;
      -moz-transition: all 0.3s ease-in-out 0s;
      -webkit-transition: all 0.3s ease-in-out 0s;
      -o-transition: all 0.3s ease-in-out 0s; }
      .clients-item .icon-social a:hover {
        color: #fff; }
    .clients-item .icon-social .facebook:hover {
      background: #3b5999; }
    .clients-item .icon-social .twitter:hover {
      background: #4A9CEC; }
    .clients-item .icon-social .instagram:hover {
      background: #D6274D; }
    .clients-item .icon-social .linkedin:hover {
      background: #1260A2; }
    .clients-item .icon-social .google:hover {
      background: #CE332A; }

.owl-pagination {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -40px; }

.owl-carousel .owl-dots {
  text-align: center;
  margin-top: 20px; }

.owl-carousel button.owl-dot {
  display: inline-block;
  zoom: 1;
  display: inline;
  text-align: center; }

.owl-carousel button.owl-dot span {
  display: block;
  width: 12px;
  height: 12px;
  margin: 2px 4px;
  filter: alpha(opacity=50);
  opacity: 1;
  border-radius: 30px;
  background: #fff;
  border: 2px solid #ccc;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
  transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out; }

.owl-carousel button.owl-dot.active span, .owl-carousel button.owl-dot.clickable, .owl-carousel button.owl-dot:hover span {
  background: #af1e5f;
  border-color: #af1e5f; }

.slick-slider {
  padding: 80px 0; }

.slider-center img {
  opacity: 0.7;
  transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  padding: 63px 63px;
  position: relative;
  text-align: center; }

.slider-center .slick-center img {
  -moz-transform: scale(1.9);
  -ms-transform: scale(1.9);
  -o-transform: scale(1.9);
  -webkit-transform: scale(1.9);
  opacity: 1;
  transform: scale(1.9); }

.form-control {
  width: 100%;
  margin-bottom: 20px;
  font-size: 14px;
  border-radius: 4px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  padding: 10px;
  border: 1px solid #f1f1f1; }

select.form-control {
  height: auto !important; }

.form-control:focus {
  border-color: #af1e5f;
  box-shadow: none;
  outline: none; }

textarea {
  border-radius: 4px !important; }

.form-control:focus {
  box-shadow: none;
  outline: none; }

.btn.disabled, .btn:disabled {
  opacity: 1; }

.contact-form-area h2 {
  font-size: 18px;
  text-transform: uppercase; }

.contact-right-area {
  margin-left: 50px; }
  .contact-right-area .contact-title {
    margin-bottom: 20px; }
    .contact-right-area .contact-title h1 {
      font-size: 22px; }

.contact-right {
  padding: 4px; }
  .contact-right .single-contact {
    margin: 30px 0px;
    padding: 3px 55px;
    position: relative;
    color: #abacae; }
    .contact-right .single-contact p {
      margin-bottom: 0px; }
      .contact-right .single-contact p a {
        color: #abacae; }
  .contact-right .contact-icon {
    background: #af1e5f;
    color: #fff;
    border-radius: 4px;
    font-size: 20px;
    height: 40px;
    left: 0;
    padding-top: 8px;
    position: absolute;
    text-align: center;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 40px; }

.h3 {
  float: right;
  font-size: 16px; }

/* Footer Area Start */
.footer-area {
  position: relative;
  padding: 150px 0px 0px;
  background: url(../img/footer-bg.png) center top no-repeat;
  background-size: cover; }
  .footer-area .footer-titel {
    font-size: 18px;
    color: #333333;
    font-weight: 500;
    padding-bottom: 20px;
    letter-spacing: 0.5px; }
    .footer-area .footer-titel span {
      color: #ccc;
      font-weight: 400; }
  .footer-area .textwidget p {
    color: #333; }
  .footer-area .footer-logo img {
    max-width: 90%; }
  .footer-area .footer-link li {
    margin-bottom: 10px; }
    .footer-area .footer-link li a {
      color: #333;
      font-size: 14px;
      font-weight: 400;
      position: relative; }
      .footer-area .footer-link li a:hover {
        color: #af1e5f; }
  .footer-area .address li {
    margin-bottom: 20px; }
    .footer-area .address li a {
      color: #666666;
      font-size: 14px;
      line-height: 30px;
      font-weight: 400; }
      .footer-area .address li a i {
        font-size: 22px;
        width: 32px;
        vertical-align: middle;
        height: 36px;
        text-align: center;
        display: inline-block;
        float: left;
        margin-right: 5px;
        line-height: 32px; }
  .footer-area #subscribe-form {
    margin-top: 10px; }
    .footer-area #subscribe-form .form-group {
      position: relative; }
      .footer-area #subscribe-form .form-group .btn-common {
        position: absolute;
        top: 0;
        right: 0;
        padding: 7px 15px;
        height: 52px;
        border-radius: 0;
        background: transparent;
        color: #af1e5f; }
  @media (max-width: 514px) {
    .footer-area {
      background: #f1f1f1;
      margin-top: 50px; } }

#copyright .copyright-content {
  border-top: 1px solid #d5d4e9;
  padding: 15px 0;
  margin: 45px 0 0px; }

#copyright p {
  line-height: 42px;
  color: #333;
  text-align: center;
  margin: 0; }
  #copyright p a {
    color: #af1e5f; }

.social-icon a {
  color: #272727;
  background: #fff;
  width: 32px;
  height: 32px;
  line-height: 34px;
  display: inline-block;
  text-align: center;
  border-radius: 4px;
  font-size: 16px;
  margin: 15px 6px 12px 4px;
  transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s; }
  .social-icon a:hover {
    color: #fff !important; }

.social-icon .facebook:hover {
  background: #3b5999; }

.social-icon .twitter:hover {
  background: #4A9CEC; }

.social-icon .instagram:hover {
  background: #D6274D; }

.social-icon .linkedin:hover {
  background: #1260A2; }

.social-icon .google:hover {
  background: #CE332A; }

.appmarket-wrapper {
  align-self: center; }
  .appmarket-wrapper img {
    max-width: 140px; }

/* only small desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  #hero-area .contents .head-title {
    font-size: 40px; }
  .services-item .services-content h3 a {
    font-size: 14px; }
  .title-hl {
    font-size: 30px; }
  .why .content h3 {
    font-size: 30px; }
  .team-item .contetn {
    padding: 15px 20px; } }

/* tablets */
@media (max-width: 991px) {
  .section-title {
    font-size: 30px;
    margin-bottom: 30px; }
  .services-item .services-content h3 a {
    font-size: 14px; }
  .services-item {
    margin-bottom: 20px; }
  #pricing-table .title h3 {
    font-size: 14px; } }

/* only small tablets */
@media (min-width: 768px) and (max-width: 991px) {
  .section-title {
    font-size: 26px;
    margin-bottom: 30px; }
  .services-item .services-content h3 a {
    font-size: 16px; }
  .bg-inverse {
    background: #fff !important;
    box-shadow: 0px 3px 6px 3px rgba(0, 0, 0, 0.06); }
  .navbar-expand-md .navbar-nav .nav-link {
    margin-bottom: 0;
    margin-top: 0; }
  #about .sec-title h3 {
    font-size: 30px;
    line-height: 42px; }
  .title-hl {
    font-size: 30px; }
  .text-wrapper {
    padding: 60px 30px; }
  .why .content h3 {
    font-size: 30px; }
  #pricing-table .title h3 {
    font-size: 14px; }
  .skill-area img {
    margin-bottom: 30px; }
  #blog .blog-item-wrapper {
    margin-bottom: 30px; }
  .experience h4 {
    font-size: 18px; }
  .testimonial-item {
    padding: 10px; }
  .testimonial-item .content h2 {
    font-size: 15px; }
  .slider-center img {
    padding: 40px 60px; }
  .subscribes h4 {
    font-size: 30px; }
  .footer-area .footer-titel {
    margin-top: 30px; }
  .contact-right-area {
    margin-top: 0px;
    margin-left: 0px; } }

/* mobile or only mobile */
@media (max-width: 767px) {
  .section-padding {
    padding: 60px 0; }
  .section-title {
    font-size: 22px;
    margin-bottom: 30px; }
  .navbar-expand-md .navbar-brand,
  .navbar-expand-md .navbar-toggler {
    margin: 0px 15px; }
  .bg-inverse {
    background: #fff !important;
    box-shadow: 0px 3px 6px 3px rgba(0, 0, 0, 0.06); }
  .navbar-expand-md .navbar-nav .nav-link {
    margin-bottom: 0;
    margin-top: 0; }
  .navbar-brand img {
    margin: 5px 0; }
  .top-nav-collapse .navbar-brand img {
    margin-top: 10px; }
  .intro-img {
    margin-top: 10px;
    margin-bottom: 60px; }
  #hero-area .img-thumb {
    display: none; }
  #hero-area .contents .head-title {
    font-size: 22px;
    line-height: 36px;
    margin-bottom: 15px; }
  #hero-area .contents p {
    font-size: 14px; }
  #hero-area {
    padding: 120px 0 80px; }
  #hero-area .contents .btn {
    margin: 5px 10px 10px 0px; }
  .text-wrapper {
    padding: 60px 15px; }
  #about .sec-title h3 {
    font-size: 22px;
    line-height: 36px; }
  .about-area img {
    margin-top: 30px; }
  .feature-thumb {
    padding: 10px; }
  .testimonial-item {
    padding: 0; }
  .client-item-wrapper img {
    width: 50%; }
  #cta h4 {
    font-size: 22px; }
  #cta .text-right {
    float: left !important; }
  #cta .btn {
    float: left; }
  .team-item .team-img {
    width: 100%;
    float: none; }
  .team-item .contetn {
    padding: 15px 30px; }
  .footer-right-contact .single-contact {
    margin: 10px 7px;
    padding: 3px 45px; }
  .footer-area .footer-titel {
    margin-top: 30px; }
  .contact-right-area {
    margin: 20px 0; }
  .contact-form-area h2 {
    font-size: 14px; }
  .copyright .float-right {
    float: left !important; }
  .map {
    margin-top: 20px; }
  #cta {
    padding: 20px 0; }
  .cta-text {
    margin-bottom: 30px; } }

/*# sourceMappingURL=maps/main.css.map */
