/* blog Item */
.blog-item:hover{
	box-shadow: 0 10px 22px 10px rgba(27, 38, 49, 0.1);
}
.blog-item{
	margin: 15px 0;
	border-radius: 0px;
	box-shadow: 0px 2px 18px 0px rgba(198, 198, 198, 0.3);
	transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
	.blog-img{
	    width: 100%;
	}
	.contetn{
		padding: 15px;
	}
	
	.info-text{
		margin-bottom: 10px;
	    h3{
	    	font-size: 19px;
		    margin-bottom: 5px;
		    a{
		    	color: #333;
			    &:hover{
			    	color: $preset;
			    }
		    }
	    }
	    p{
	    	margin: 0;
			color: #888;
			font-size: 13px;
	    }
	}
	p{
		font-size: 14px;
	}
}
.blog-item:hover .blog-overlay{
  opacity: 1;
}









