.breadcrumb {
    background: rgb(165, 23, 95);
    background: linear-gradient(120deg, rgba(165, 23, 95, 1) 0%, rgba(254, 136, 86, 1) 100%);
    padding: 150px 0 90px;
    text-align: center;

    &_head {
        color: #fff;
        margin-bottom: 20px;
    }

    a {
        color: #fff;
        font-size: 16px;
        font-weight: bold;
        padding: 0 15px;
        position: relative;
        display: inline-block;

        &:first-child {
            padding-right: 20px;

            &:after {
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                content: "\e914";
                font-family: 'icomoon' !important;
            }
        }
    }
}