/* ==========================================================================
3. Hero Area
========================================================================== */
#hero-area{
	background-image: url(../img/hero-area.svg);
    background-position: left center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 650px;
    position: relative;
	overflow: hidden;
	padding: 150px 0 80px;
	.contents{
		.head-title{	
			color: #444;
		    font-size: 32px;
		    font-weight: 500;
		    line-height: 40px;
		    margin-bottom: 10px;
		}
		.header-button{
			margin-top: 20px;
			color: #444;
			.btn{
				margin-right: 10px;
			}
		}
	}

	p{
		font-size: 16px;
	}
}

.sloder-img{
	background: #34363a;
}