/* Services Item */
.services-item{
	padding: 20px;
	border-radius: 4px;
	text-align: center;
	margin: 15px 0;
	box-shadow: 0 0 12px #F4F4F4;
	transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
	.icon{
		border: 1px solid #f1f1f1;
	    width: 95px;
	    height: 95px;
	    border-radius: 50%;
	    margin: 0 auto;
	    transition: all 0.3s ease-in-out 0s;
	    -moz-transition: all 0.3s ease-in-out 0s;
	    -webkit-transition: all 0.3s ease-in-out 0s;
	    -o-transition: all 0.3s ease-in-out 0s;
		i{
		    font-size: 55px;
		    color: $preset;
		    line-height: 95px;
		    transition: all 0.3s ease-in-out 0s;
		    -moz-transition: all 0.3s ease-in-out 0s;
		    -webkit-transition: all 0.3s ease-in-out 0s;
		    -o-transition: all 0.3s ease-in-out 0s;
		}
	}
	.services-content{
		h3{
			margin-top: 10px;
			font-weight: 500;
			text-transform: uppercase;
			margin-bottom: 10px;
			a{
				font-size: 16px;		
    			color: #585b60;
    			&:hover{
    				color: $preset;
    			}
			}
		}
	}
}
.services-item:hover{
	box-shadow: 0 10px 22px 10px rgba(27, 38, 49, 0.1);
}
.services-item:hover .icon{
	background: $preset;
	i{
		color: #fff;
	}
}
#service{
	position: relative;
}
// About
.about-area{
	.about-wrapper{
		height: 100%;
	    width: 100%;
	    display: table;
		> div{
	      vertical-align: middle;
	      display: table-cell;
	    }
	}
	 
	img{
		border-radius: 4px;
	}
	.content{
		margin-top: 15px;
		p{
			margin-bottom: 30px;
		}
	}
}

#cta{
	padding: 30px 0;
}

